@CHARSET "UTF-8";

// =============================================
// IME for IE, Firefox. (except Chrome)
// =============================================
.ime-off{ime-mode: inactive;}
.ime-on{ime-mode: active;}


// =============================================
// Color
// =============================================

// Monochromatic
$star_white: rgba(239,239,232,1);
$black_ink: rgba(68,65,60,1);
$natural_gray: rgba(142,145,143,1);

//Triadic
/*star_white*/
$bridal_blush: rgba(238,226,221,1);
$bit_of_blue: rgba(226,234,235,1);

//Compliment
/*star_white*/
$blanc_de_blanc: rgba(231,233,231,1);

@mixin white_color_set_strong {
	background-color:$star_white;
	color:$black_ink;
}
@mixin white_color_set_weak {
	background-color:$star_white;
	color:$natural_gray;
}
@mixin blue_color_set {
	background-color:$bit_of_blue;
	color:$black_ink;
}
@mixin pink_color_set {
	background-color:$bridal_blush;
	color:$black_ink;
}

.white_strong{@include white_color_set_strong;}
.white_weak{@include white_color_set_weak;}
.blue{@include blue_color_set;}
.pink{@include pink_color_set;}


// =============================================
// Parts
// =============================================
.left{
	display: block;
	float: left;
}
.right{
	display: block;
	text-align: right;		
}
a:hover {
	text-decoration: underline;
}

.S{font-size: 10pt;}
.M{font-size: 14pt;}

.L{font-size: 18pt;}

.round_rect{
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
}

table{
	border-collapse: collapse;
	cursor: pointer;
	tr:hover{background-color: $bridal_blush;}
	td{border: 1px solid $natural_gray;}
}

.key{
	color: $natural_gray;
}

.ajax_history_not_received{
	margin: 1px;
	background-color: $natural_gray;
	color: $black_ink;
}

.ajax_history_received{
	margin: 1px;
	@include white_color_set_weak;
}
.success_but_not_use_ajax_history{
	margin: 1px;
	background-color:$star_white;
	color: $black_ink;
}

// not in use, now.
.stripe_table{
	border-collapse: collapse;
	tr:nth-child(even){background-color: $blanc_de_blanc;}
	td{border: 1px solid $natural_gray;}
}




// =============================================
// According HTML Structure
// =============================================
body{
	min-height:940px;
	height: auto !important;
	font: 14pt "Helvetica Neue", Helvetica, Arial, sans-serif;
	@include white_color_set_weak;
}

header *{
	margin: 2;
	padding: 0;
	font-size: 14pt;
}

article {
	border-top: 1px solid $natural_gray;
	border-bottom: 1px solid $natural_gray;
	border-left: none;
	border-right: none;
}

nav * {
	@include blue_color_set;
}

#main_content{
	margin: 0;
	padding: 0;
	text-align: center;
	@include white_color_set_strong;
}

footer{
	text-align: center;
	@include white_color_set_weak;
}