@CHARSET "UTF-8";
//#main_content{
*{
	color:black;
    font: 18pt/22pt "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
	text-decoration: none;
	border: none;
	list-style: none;
	outline: none;
	color: #8E918F;
}

a:visited, a:link{
	font-weight:bold;
	color:black;
}

select,option{
	background-color:#E2EAEB;
	color:#41424A;
}

body{
    background: #EFEFE8;
	color: #8E918F;
}

a:hover {
    text-decoration: underline;
}

