@CHARSET "UTF-8";
.left {
  display: block;
  float: left; }

.right {
  display: block;
  text-align: right; }

a:hover {
  text-decoration: underline; }

.S {
  font-size: 10pt; }

.M {
  font-size: 14pt; }

.L {
  font-size: 18pt; }

body {
  min-height: 940px;
  height: auto !important;
  background-color: #efefe8;
  color: #8e918f; }

header * {
  margin: 0;
  padding: 0;
  font-size: 14pt; }

#main_content * {
  margin: 4px;
  padding: 3px;
  text-align: center;
  background-color: #efefe8;
  color: #44413c; }

footer * {
  margin: 1px;
  padding: 1px;
  font-size: 6pt;
  text-align: center;
  background-color: #efefe8;
  color: #8e918f; }
