@CHARSET "UTF-8";
*{
	margin: 0;
	padding: 0;
	body{
		min-height:940px;
		height: auto !important;
		font: 14pt "Helvetica Neue", Helvetica, Arial, sans-serif;
		background-color: #EFEFE8;
		color: #8E918F;
		select,option{
			background-color:#E2EAEB;
			color:#41424A;
		}
		header{
			a:hover {
					text-decoration: underline;
			}
			nav{
				float: left;
			}
			.user{
				text-align: right;			
			}
			
		}
		#main_content{
			margin: 4px;
			padding: 3px;
			font-size: 18pt/20pt;
			text-align: center;
		}
		footer{
			font-size: 6pt/7pt;
			text-align: center;		
		}
	}
}
